script.
  if ('#{page}' === 'login') {
    $('#login').addClass('active');
    $('#login a').removeAttr('data-hover');
  }
  if ('#{page}' === 'index') {
    $('#index').addClass('active');
    $('#index a').removeAttr('data-hover');
  }
  if ('#{page}' === 'message') {
    $('#message').addClass('active');
    $('#message a').removeAttr('data-hover');
  }
  if ('#{page}' === 'events') {
    $('#events').addClass('active');
    $('#events a').removeAttr('data-hover');
  }
  if ('#{page}' === 'personal') {
    $('#personal').addClass('active');
    $('#personal a').removeAttr('data-hover');
  }
  if ('#{page}' === 'classmates') {
    $('#classmates').addClass('active');
    $('#classmates a').removeAttr('data-hover');
  }


